body {
  margin: 0;
  height: 100vh;
  cursor: none; // Убираем стандартный курсор
}

.custom-cursor {
  z-index: 10;
  width: 40px; /* Размер курсора */
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* Курсор не блокирует взаимодействие */
  background: url("/free-icon-cursor-17953612.png") no-repeat center;
  background-size: contain; /* Изображение не обрезается */
}
